{% extends "base.html" %} {% load widget_tweaks %}
<section class="container px-4 py-4 mx-auto mt-6">
  {% block content %}
  <div class="w-3/6 m-auto mt-6">
    <div class="grid grid-cols-1 gap-4 p-6 bg-gray-100 rounded-sm shadow-lg place-content-center">
      <h1
      class="px-6 py-3 mb-4 text-3xl font-bold text-center text-green-500 capitalize text"
    >
    Password change successful!
    </h1>
    <p class="my-2 text-lg text-center">Your password was changed.</p>
    </div>
    </div>

  {% endblock content %}
</section>
