{% extends "base.html" %} {% load widget_tweaks %}
<section class="container px-4 py-4 mx-auto">
  {% block content %}
  <div class="w-3/6 m-auto mt-6">
    <h1
      class="px-6 py-3 mb-4 text-3xl font-bold text-center text-gray-500 capitalize text"
    >
    Password change
    </h1>
    <p class="my-2 text-lg text-center">Please enter your old password, for security's sake, and then enter
      your new password twice so we can verify you typed it in correctly.</p>
    <div class="my-2">

      <span class="text-red-500">{{form.old_password.errors}}</span>
      <span class="text-red-500">{{form.new_password1.errors}}</span>
      <span class="text-red-500">{{form.new_password2.errors}}</span>
    </div>
    <form
      class="grid grid-cols-2 gap-4 p-6 bg-gray-100 rounded-sm shadow-lg place-content-center"
      action=""
      method="post"
    >
      {% csrf_token %}


      <div class="flex flex-col items-start justify-center">
        <span class="">Old Password </span>

        {{ form.old_password|add_class:"rounded-sm w-full" }}
      </div>
      <div class="flex flex-col items-start justify-center">
        <span class="">New Password </span>

        {{ form.new_password1|add_class:"rounded-sm w-full" }}
      </div>
      <div class="flex flex-col items-start justify-center">
        <span class="text-start">Confirm New Password </span>

        {{ form.new_password2|add_class:" rounded-sm w-full" }}
      </div>

      <div class="inline-flex items-end justify-start">
        <input
          type="submit"
          class="w-full px-2 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-green-700 rounded-sm cursor-pointer hover:bg-green-600 focus:outline-none"
          value="Change Password"
        />
      </div>
    </form>
  </div>

  {% endblock content %}
</section>
