{% extends "base.html" %} {% load widget_tweaks %}
<section class="container px-4 py-4 mx-auto">
  {% block content %}
  <div class="w-3/6 m-auto mt-6">
    <h1
      class="px-6 py-3 mb-4 text-3xl font-bold text-center text-gray-500 uppercase text"
    >
    Forgot your password?
    </h1>
    <p class="my-2 text-lg text-center">Enter your email address below, and we'll email instructions
      for setting a new one.
    </p>

    <form
      class="grid grid-cols-2 gap-4 p-6 bg-gray-100 rounded-sm shadow-lg place-content-center"
      action=""
      method="post"
    >
      {% csrf_token %}


      <div class="flex flex-col items-start justify-center">
        <span class="">Email </span>

        {{ form.email|add_class:"rounded-sm w-full" }}
      </div>

      <div class="inline-flex items-end justify-start">
        <input
          type="submit"
          class="w-full px-2 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-green-700 rounded-sm cursor-pointer hover:bg-green-600 focus:outline-none"
          value="Send me instructions"
        />
      </div>
    </form>
  </div>

  {% endblock content %}
</section>
