{% extends 'base.html' %}

<section class="container px-4 py-4 mx-auto">
  {% block content %}

  <div class="">
    <div
      class="flex items-start justify-between w-4/6 m-auto space-x-4 border-4 rounded-sm border-gray-50 lg:flex-row"
    >
      {%if object.image %}
      <img
        class="rounded-sm h-[35rem] w-1/2 object-cover object-center overflow-hidden"
        src="{{ object.image.url }}"
      />
      {% endif %}
      <div class="flex flex-col justify-between w-1/2">

       <a href="{% url 'movie_detail' object.pk %}">
        <h1 class="px-2 py-5 mb-1 text-3xl font-bold text-sky-600">
          {{ object.title }}
        </h1></a
      >

      <p class="px-2 text-lg">{{ object.description }}</p>
       <hr class="my-2"/>
      <div  class="p-2 bg-gray-700 border-4 rounded-sm border-gray-50">
        {%for review in object.review_set.all %}
       <p class="px-2 text-lg italic text-gray-100 rounded-sm border-gray-50">
        <span class="not-italic font-bold">{{review.author.username}}:</span> {{ review.text }} <br/> <span class="not-italic font-bold">Watch Again: {{review.watch_again}}</span></p>
       {% endfor %}
      </div>
      <div class="flex justify-start mx-4 mt-4 space-x-4 font-bold">
        {% if user.is_superuser %}
        <a
          class="px-3 py-2 leading-5 text-white transition-colors duration-300 transform rounded-md bg-sky-400 hover:bg-sky-300 focus:outline-none"
          href="{% url 'movie_edit' object.pk %}"
          >Edit Movie</a
        >
        <a
          class="px-3 py-2 leading-5 text-white transition-colors duration-300 transform bg-red-400 rounded-md hover:bg-red-300 focus:outline-none"
          href="{% url 'movie_delete' object.pk %}"
          >Delete Movie</a
        >
        {% endif %}
      </div>

      </div>
    </div>
  </div>

  {% endblock content %}
</section>
