{% extends 'base.html' %}

<section class="">

  {% block content %}
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:mx-24">
    {% for movie in movies %}
      <div class="flex flex-col w-full border-4 rounded-sm border-gray-50">
        <div class="flex-1">
          {%if movie.image %}
            <img class=" rounded-sm h-[15rem] w-full object-cover object-center overflow-hidden" src="{{movie.image.url}}" />
          {%endif %}
         <a href="{% url 'movie_detail' movie.pk %}"> <h1 class="p-3 mb-1 text-lg font-bold text-sky-600">{{ movie.title }}</h1></a>
          <p class="p-3 text-md">{{ movie.description|truncatewords:20 }}</p>
        </div>
        </div>
    {% endfor %}

    </div>
    <div class="flex justify-center mt-6">
      {% include "pagination.html" with page=page_obj %}
    </div>
  {% endblock content %}

</section>
