<div class="flex items-center justify-end mx-6 font-bold">

  <div>
    {% if page.has_previous %}
  <a  class="flex items-center px-3 py-1 mx-1 text-lg text-gray-600 transition-colors duration-300 transform bg-white rounded-sm hover:bg-sky-400 hover:text-white" href="?page={{ page.previous_page_number }}">Previous</a>
  {% endif %}
  </div>

  <div class="items-center px-4 py-2 mx-1 text-gray-600 transition-colors duration-300 transform rounded-md sm:flex">
  Page {{ page.number }} of {{ page.paginator.num_pages }}.
  </div>
  {% if page.has_next %}
  <a class="flex items-center px-3 py-1 mx-1 text-sm text-gray-600 transition-colors duration-300 transform bg-white rounded-sm hover:bg-sky-400 hover:text-white" href="?page={{ page.next_page_number }}">Next</a>
  {% endif %}
  </span>
  </div>
